/* Plik login/style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  background-color: #28a745;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: #fff;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #218838;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1e7e34;
}

/* Dodatkowe elementy motywu choinkowego */
.tree {
  background-color: #73ad20;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
}

.tree:before, .tree:after {
  content: '';
  background-color: #73ad20;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: -25px;
}

.tree:after {
  left: calc(100% - 25px);
}

#logout-button {
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#logout-button:hover {
  background-color: #c82333;
}