body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 15px;
    color: white;
}

.navbar .left, .navbar .right {
    display: flex;
    align-items: center;
}

.navbar .left img {
    height: 60px; /* Powiększenie logo */
    margin-right: 15px;
}

.navbar .left span {
    font-size: 28px; /* Powiększenie nazwy */
    font-weight: bold;
}

.navbar .right img {
    height: 50px; /* Powiększenie zdjęcia profilowego */
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
    border: 2px solid white; /* Dodanie białej ramki */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Opcjonalny cień dla lepszego efektu */
}

.navbar .right span {
    margin-left: 15px;
}

.navbar .middle {
    display: flex;
    align-items: center;
}

.navbar .middle a {
    color: white;
    text-decoration: none;
    font-size: 20px; /* Powiększenie tekstu linków */
    padding: 0 15px; /* Dodanie marginesów wewnętrznych */
}

.navbar .divider {
    width: 2px;
    height: 30px;
    background-color: #b6eeb6; /* Jasnozielona kreska */
    margin: 0 10px;
}

/* Nowy styl dla sekcji głównej */
.main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
}

/* Styl dla sekcji "Co oferujemy?" */
.offer-section {
    background-color: #bfd18e;
    padding: 20px;
    width: 45%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.offer-section h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
    background-color: #8fad3b;
    padding: 10px;
    border-radius: 10px;
}

/* Styl dla sekcji "Aktualności" */
.article-section {
    background-color: #bfd18e;
    padding: 20px;
    width: 45%;
    border-radius: 10px;
    text-align: left;
    height: 332px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-section h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
    background-color: #8fad3b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.article-section h3 {
    margin-bottom: 5px;
}


.article-section .article-content {
    height: 225px; /* Ustalona wysokość dla treści artykułu */
    overflow-y: scroll; /* Dodanie paska przewijania */
}

/* Styl dla karuzeli */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease;
}

.carousel-slide {
    width: 550px;
    height: 270px;
    transition: opacity 0.5s ease;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Styl dla sekcji "Darmowa Skrzynka" */
.free-case-section {
    background-color: #bfd18e;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 92%;
}

.free-case-section h2 {
    font-size: 24px;
    color: white;
    margin: 0;
    background-color: #8fad3b;
    padding: 10px;
    border-radius: 10px;
}

.case-details {
    text-align: center;
    flex-grow: 1;
}

.case-details h3 {
    margin: 10px 0;
    background-color: #8fad3b;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.key-container {
    display: block;
    text-decoration: none;
    color: inherit;
}

.case-image {
    width: 150px; /* Dostosuj rozmiar obrazu skrzyni */
    height: auto;
}

.key-image {
    width: 50px; /* Dostosuj rozmiar obrazu klucza */
    height: auto;
    display: block;
    margin: 10px auto;
}

.free-label {
    width: 70px; /* Dostosuj rozmiar obrazu "Free" */
    height: auto;
}

.limit {
    font-size: 12px;
    color: #666;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .offer-section, .article-section {
        width: 80%;
        margin-bottom: 20px;
    }

    .free-case-section {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .navbar .middle a {
        font-size: 16px;
        padding: 0 10px;
    }

    .offer-section, .article-section {
        width: 90%;
    }

    .free-case-section {
        width: 90%;
    }
}
